.navbar{
    background-color: skyblue;
    border-bottom: 3px solid black;
}
/* ============ */
.about-container{
width: 100%;
height: 60vh;
background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(./assets/about.jpg);
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.about-content h1{
font-size: 65px;
}
/* =========== */
.contact-container{
width: 100%;
height: 60vh;
background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(./assets/contact\ us\ img.jpg);
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.contact-content h1{
font-size: 65px;
}
/* ==================== */

.package-container{
width: 100%;
height: 60vh;
background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(./assets/banner-2.jpg);
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.package-content h1{
font-size: 65px;
}
.feedback-form{
    width: 500px;
}
/* ============== */
@media(max-width: 780px){
.feedback-form{
    width: 300px;
}
.about-info{
    width: 300px;
}
.about-content h1{
    font-size: 35px;
}
.contact-content h1{
    font-size: 35px;
}
.package-content h1{
    font-size: 35px;
}

}